<div class="p-4">
    <div class="container">
        <h2>Welcome back <b>{{user.name}}</b>!</h2>
    </div>
    <div class="container">
        <h4>User Accounts</h4>
        <!-- <a routerLink="add" class="btn btn-sm btn-success mb-2">Add User</a> -->
        <div class="form-group row">
            <div class="col-md-8">
                <input type="text" [(ngModel)]="filterName" placeholder="Filter by name" class="form-control"/>
            </div>
            <div class="col-md-4">
                <button [disabled]="loading" class="btn btn-primary" (click)="onSearch()">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Search
                </button>
            </div>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width: 30%">ID</th>
                    <th style="width: 40%">Name</th>
                    <th style="width: 30%">Email</th>
                    <!-- <th style="width: 10%"></th> -->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <td>{{user.id}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <!-- <td style="white-space: nowrap">
                        <a routerLink="edit/{{user.id}}" class="btn btn-sm btn-primary mr-1">Edit</a>
                        <button (click)="deleteUser(user.id)" class="btn btn-sm btn-danger btn-delete-user" [disabled]="user.isDeleting">
                            <span *ngIf="user.isDeleting" class="spinner-border spinner-border-sm"></span>
                            <span *ngIf="!user.isDeleting">Delete</span>
                        </button>
                    </td> -->
                </tr>
                <tr *ngIf="!users">
                    <td colspan="4" class="text-center">
                        <span class="spinner-border spinner-border-lg align-center"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>